<h2>Edit Service</h2>

<% form_for(@service) do |f| %>
  <%= f.error_messages %>
  <table>
    <tr><th><%= f.label :network , "Network" %><td><%= collection_select(:service, :network_id,
      Network.find(:all), :id, :designation) %></tr>
    <tr><th><%= f.label :service %><td><%= datetime_select(:service, :service) %></tr>
    <tr><th><%= f.label :description %><td><%= f.text_field :description %></tr>
  </table>
	<p style="text-align: center">
		<%= f.submit "Update" %>
	</p>
<% end %>

<p class="navigation">
	<%= link_to 'Show', @service %> |
	<%= link_to 'Index', services_path %> |
	<%= link_to 'Delete', @service, :confirm => 'Are you sure?', :method => :delete %>
</p>
